
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #ff9900;
    padding: 1em;
    text-align: center;
    color: darkgreen;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #ff9900;
    color: #fff;
}

*(
    box-sizing: border-box;
)

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}


.carrossel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 500px;
    width: 500px;
}

.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

img{
    object-fit: cover;
    height: 500px;
    width: 500px;
    
}